@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{line-height:2em;background-color:#ffffff;font-family:arial, helvetica, sans-serif;color:#666666;font-size:12px}
a{color:#666666;text-decoration:none;-webkit-transition-property:color;-moz-transition-property:color;-o-transition-property:color;transition-property:color;-webkit-transition-duration:.2s;-webkit-transition-timing-function:ease-in;-moz-transition-duration:.2s;-moz-transition-timing-function:ease-in;-o-transition-duration:.2s;-o-transition-timing-function:ease-in;transition-duration:.2s;transition-timing-function:ease-in}
a:hover{color:#cd0606;text-decoration:underline}

/* hc_lnav */
.hc_lnav{width:190px;}
.hc_lnav .allbtn{z-index:5;position:relative}
.hc_lnav .allbtn h2{font-size:14px;box-shadow:2px 0px 6px -3px #428000;-webkit-box-shadow:2px 0px 6px -3px #428000;-moz-box-shadow:2px 0px 6px -3px #428000}
.hc_lnav .allbtn h2 a{line-height:36px;background-color:#358000;padding-left:10px;width:180px;display:block;font-family:微软雅黑, 黑体;height:36px;color:#ffffff;font-size:14px;font-weight:normal}
.hc_lnav .allbtn h2 a:hover{background-color:#358000;text-decoration:none}
.hc_lnav .allbtn h2 i{}
.hc_lnav .allbtn h2 strong{}
/*一级导航隐藏*/
.hc_lnav .allbtn ul{background-color:#6e6568;width:190px;height:100%;margin-right: 10px}
body.hc_home .hc_lnav .allbtn ul{display:block}
body.hc_list .hc_lnav .allbtn ul{display:block}
.hc_lnav .allbtn ul li{zoom:1;clear:both;cursor:default}
.hc_lnav .allbtn ul li .tx{color: white;line-height:28px;background-color:#6e6568;padding-left:10px;height:28px;font-size: 14px;}
.hc_lnav .allbtn ul li .tx a{font-family:微软雅黑, 黑体;color: white;margin:0 3px;-webkit-transition:color 0.1s ease-out 0s;-moz-transition:color 0.1s ease-out 0s;-ms-transition:color 0.1s ease-out 0s;-o-transition:color 0.1s ease-out 0s;transition:color 0.1s ease-out 0s}
.hc_lnav .allbtn ul li dl{zoom:1;color:#ffffff;clear:both;overflow:auto;padding-top:4px}
.hc_lnav .allbtn ul li dl a{line-height:22px;white-space:nowrap;float:left;color:#d9e7ce;margin-left:6px;margin-right:6px;-webkit-transition:color 0.1s ease-out 0s;-moz-transition:color 0.1s ease-out 0s;-ms-transition:color 0.1s ease-out 0s;-o-transition:color 0.1s ease-out 0s;transition:color 0.1s ease-out 0s}
.hc_lnav .allbtn ul li dt{padding-left:10px;width:30px;float:left;padding-top:1px}
.hc_lnav .allbtn ul li dd{line-height:22px;width:150px;float:left;padding-top:2px}
/*二级导航隐藏*/
.hc_lnav .allbtn ul li .pop{border-bottom:#599900 2px solid;position:absolute;border-left:medium none;padding-bottom:10px;background-color:#fcfcfc;min-height:478px;padding-left:30px;width:850px;padding-right:30px;display:none;height:464px;border-top:medium none;top:-17px;border-right:#599900 2px solid;padding-top:10px;left:190px;box-shadow:4px 4px 5px -1px #999999;-webkit-box-shadow:4px 4px 5px -1px #999999;-moz-box-shadow:4px 4px 5px -1px #999999}
.hc_lnav .allbtn ul li .pop h3{display:none;font-size:14px}
.hc_lnav .allbtn ul li .pop .clrLeft{float: left;width: 670px;}
.hc_lnav .allbtn ul li .pop .clrRight{float: left;width: 180px;}
.hc_lnav .allbtn ul li .pop .clrRight .imgbox{width: 180px;margin-bottom: 20px;background: red;overflow: hidden;}
.hc_lnav .allbtn ul li .pop .clrRight .imgbox .imgPic{width: 89px;height:35px ;border: 1px solid white;margin-left:-1px ;margin-top:-1px;float: left;}
.hc_lnav .allbtn ul li .pop .clrRight .imgbox .imgPic .imgbit{width: 100%;height:100% ;}
.hc_lnav .allbtn ul li .pop .clrRight .imgact{width: 180px;height:134px ;margin-bottom: 5px;}
.hc_lnav .allbtn ul li .pop .clrRight .imgact .imgbig{width: 100%;height:100% }
.hc_lnav .allbtn ul li .pop dt .title{background: #6e6568;color: white;margin-right: 10px;float: left;padding: 5px;}
.hc_lnav .allbtn ul li .pop .title i{margin: 0 5px;font-size: 12px;}
.hc_lnav .allbtn ul li .pop dd .title{background: #6e6568;color: white;margin-right: 10px;float: left;padding: 5px;}
.hc_lnav .allbtn ul li .pop dl{padding-bottom:6px;color:#666666;padding-top:6px}
.hc_lnav .allbtn ul li .pop dl:hover{background-color:#f3f3f3}
.hc_lnav .allbtn ul li .pop dl a{color:#666666;margin-left:12px;margin-right:12px}
.hc_lnav .allbtn ul li .pop dl a.un{color:#a5a5a5}
.hc_lnav .allbtn ul li .pop dt{padding-left:0px;width:80px;}
.hc_lnav .allbtn ul li .pop dd{width:565px;margin-left:-12px;}
.hc_lnav .allbtn ul li .pop .act{width:640px;height:80px;overflow:hidden;padding-top:10px}

.hc_lnav .allbtn:hover ul{display:block}/*控制一级菜单显示隐藏*/
.hc_lnav .allbtn ul li:hover{background-color:#fcfcfc}
.hc_lnav .allbtn ul li:hover .tx{background-color:#f5f5f5}
.hc_lnav .allbtn ul li:hover .tx a{color:#333333}
.hc_lnav .allbtn ul li:hover .tx a i{background-position:0px -25px}

.hc_lnav .allbtn ul li:hover .pop{display:block;top:-17px;left:190px}/*控制二级菜单显示隐藏*/
.hc_lnav .allbtn ul li:hover .pop dl a.un{color:#a5a5a5;text-decoration:none}
.hc_lnav .allbtn ul li:hover dl{color:#6e6e6e}
.hc_lnav .allbtn ul li:hover a{color:#666666}
.hc_lnav .allbtn ul li:hover a:hover{color:#cd0606}
